@media only screen and (min-width: 425px) {
    .logo-svg {
        width: 20%;
      }
    
    .our_clients 
    {
        justify-content: space-around;
    }
    
    .client_item {
        width: 45%;
        margin-bottom: 30px;
    }
    
    .client_item img {
        width: 90%;
    }
}


@media only screen and (min-width: 767px)
{
    .logo-svg {
        width: 15%;
    }
    
    .header_title {
        font-size: 2.7em;
        margin-top: 40px;
        font-size: 3em;
    }
    
    
    .our_presentation 
    {
        margin-top: 120px;
    }
    
    .presentation_wrapper
    {
        width: 70%;  
        justify-content: space-between;
    }
    
    .op_item 
    {
        width: 45%;
        
    }
    
    .op_item:nth-child(3)
    {
        flex: 1;
    }
    
     .item_title 
    {
        font-size: 1.4em;
    }
    
    .item_desc 
    {
        font-size: 1.0em;
    }
    
    .reviews_content 
    {
        justify-content: space-around;
    }
    .review_item
    {
        width: 45%;
    }
    
    .client_item 
    {
        width: 28%;
        margin-bottom: 65px;
    }
    
    
}


@media only screen and (min-width: 900px) {
    .welcome_msg {
        width: 80%
    }
    
    .hamburger_icon {
        display: none;
    }
    
    .top_menu { justify-content: space-around; }
    
    .logo-svg {
        width: 10%;
    }
    
    
    .top_logo span {
        font-size: 1em;
    }
    
    .top_nav {
        width: 63%;
        height: 80px;
        display: block;
        position: unset;
        background-color: transparent;
    }

    .top_nav ul {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        list-style-type: none;
        background-color: transparent;
        position: inherit;
        color: #fff;
        padding-top: 0px;
        transform: translate3d(0,0,0);
    }

    .top_nav li {
        height: 80px;
        width: 100%;
        text-align: center;
        border-top: 4px solid transparent;
        transition: 0.5s ease;
        font-size: 0.8em;
        display: block;
        padding: 0;
        line-height: 70px;
        border-bottom: none;
        word-break: break-all;
        white-space: nowrap;
    }
    .top_nav li:hover {
        border-top: 4px solid #1ba38c;
        display: inline-block;
        cursor: pointer;
    }
    .close_menu {
        display: none;
    }
    
    .review_content i 
    {
        font-size: 1.25em;
    }
    
}

@media only screen and (min-width: 1024px) {
    .welcome_msg {
        width: 65%
    }
    
    header {
        min-height: 567px;
    }
    
    .header_title {
        margin-top: 70px;
        font-size: 3.5em;
    }
    
    .header_p {
        margin-top: 65px;
        margin-bottom: 75px;
    }
    
    .our_clients 
    {
        padding: 0 5%;    
    }
    
    .client_item 
    {
        width: 19%;
        margin-top: 40px;
    }
    
    .client_item img {
        width: 80%;
    }
    
    
}

@media only screen and (min-width: 1250px)
{
    .logo-svg {
        width: 9%;
    }
    
    .header_title {
        font-size: 4.5em;
    }
    
    .op_item 
    {
        width: 28%;
    }
     .op_item:nth-child(3)
    {
        flex: none;
    }
    
    .reviews_content 
    {
        width: 1150px;
    }
    
    .our_clients 
    {
        padding: 0 10%;    
    }
    
    .top_nav li 
    {
        font-size: 1em;
    }
}


@media only screen and (min-width: 2000px) {
    
    header 
    {
        min-height: auto;
    }
}